ul {
	display: flex;
	padding-top: 20px;
	background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
li {
	margin: 15px;
}
li:first-child {
	margin-right: auto;
}
.overlay-dark {
	background-color: rgb(104, 130, 153);
	opacity: 0.6;
}